@{
    ViewBag.Title = "Contact";
}

@section scripts {
    <script src="~/Scripts/categoryScript.js"></script>
}

@section link {
    <link href="~/Content/Typecss.css" rel="stylesheet" />
}

<div class="browse">
    <h1>Choose a Type</h1>
</div>

<div id="content-holder">
    <div class="categoryButton" onclick="loadTypePage('Image')">
        <img src="~/Images/animal.jpg" class="catergoryImage" />
        <div class="categoryName">Image</div>
    </div>
    <div class="categoryButton" onclick="loadTypePage('Gif')">
        <img src="~/Images/laughing-emoticon.jpg" class="catergoryImage" />
        <div class="categoryName">Gif</div>
    </div>
    <div class="categoryButton" onclick="loadTypePage('Video')">
        <img src="~/Images/olumpic-sports.jpg" class="catergoryImage" />
        <div class="categoryName">Video</div>
    </div>
    <div class="categoryButton" onclick="loadTypePage('Audio')">
        <img src="~/Images/music.png" class="catergoryImage" />
        <div class="categoryName">Audio</div>
    </div>
</div>
