@{
    ViewBag.Title = "Contact";
}

@section link {
    <link href="~/Content/Typecss.css" rel="stylesheet" />
}

<div class="browse">
    <h1>Choose a Type</h1>
</div>

<div id="content-holder">
    <div class="categoryButton">
        <img src="~/Images/animal.jpg" class="catergoryImage" />
        <div class="categoryName">Image</div>
    </div>
    <div class="categoryButton">
        <img src="~/Images/laughing-emoticon.jpg" class="catergoryImage" />
        <div class="categoryName">Gif</div>
    </div>
    <div class="categoryButton">
        <img src="~/Images/olumpic-sports.jpg" class="catergoryImage" />
        <div class="categoryName">Video</div>
    </div>
    <div class="categoryButton">
        <img src="~/Images/music.png" class="catergoryImage" />
        <div class="categoryName">Audio</div>
    </div>
</div>
