.banner-image {
    position: relative;
    width: 102%;
    height: 400px;
    left: 0;
    margin-top: -16px;
    margin-left: -10px;
}

.Images {
    position: relative;
    height: 600px;
    margin: auto;
    padding-right: 10px;
}

.display-images {
    padding: 10px;
    border-radius: 5px;
    margin-left: 20px;
    width: 30%;
    height: 400px;
    float: left;
    display: inline-block;
}

.audio-file {
    position: relative;
    margin: auto;
}

.audios {
    width: 90%;
    margin-left: 50px;
    padding: 20px;
    float: left;
    display: inline-block;
}

.audio-title{
    font-family: sans-serif;
    text-align: center;
    color: #FFF;
    border-radius: 10px;

}
