@{
    ViewBag.Title = "Home Page";
}

@section link {
    <link href="~/Content/home.css" rel="stylesheet" />
}

<div class="container">
    <div class="imageSlider">
        <img class="banner-image" src="~/Images/Memes.jpg"/>
    </div>
    <div class="Images">
        <img class="display-images" src="~/Gifs/Tom.gif" />
        <img class="display-images" src="~/Gifs/KungFuBaby.gif" />
        <img class="display-images" src="~/Gifs/Trump.gif" />
        <img class="display-images" src="~/Gifs/NoTime.gif" />
        <img class="display-images" src="~/Gifs/Roller.gif" />
        <img class="display-images" src="~/Gifs/Fail.gif" />
    </div>
    <div class="audio-file">
        <h2 class="audio-title">Lucio Frog</h2>
        <audio class="audios" controls>
            <source src="~/Audio/Lucio.mp3" type="audio/mp3"/>
        </audio>
        <h2 class="audio-title">When you try your best</h2>
        <audio class="audios" controls>
            <source src="~/Audio/Try.mp3" type="audio/mp3" />
        </audio>
        <h2 class="audio-title">Wombo Combo!!!!</h2>
        <audio class="audios" controls>
            <source src="~/Audio/Wombo.mp3" type="audio/mp3" />
        </audio>
    </div>
</div>