@{
    ViewBag.Title = "Type";
}
<h2>@ViewBag.Title</h2>
<h3>@ViewBag.Message</h3>

@section link {
    <link href="~/Content/Categorycss.css" rel="stylesheet" />
}

<h2>Browse By Media Type</h2>

<div id="content-holder">
    <div class="categoryButton">
        <img src="~/Images/Audio.jpg" class="catergoryImage" />
        <div class="categoryName">Audio</div>
    </div>
    <div class="categoryButton">
        <img src="~/Images/Gif.jpg" class="catergoryImage" />
        <div class="categoryName">Gifs</div>
    </div>
    <div class="categoryButton">
        <img src="~/Images/Image.jpg" class="catergoryImage" />
        <div class="categoryName">Pictures</div>
    </div>
    <div class="categoryButton">
        <img src="~/Images/Video.jpg" class="catergoryImage" />
        <div class="categoryName">Videos</div>
    </div>
</div>